@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Gabarito&display=swap');

body {
    display: grid;
    font-size: 16pt;
    color: black;
    font-family: 'Gabarito', Georgia, Times, serif;
} 

h1, h2, h3 {
    font-family: 'Alegreya SC', sans-serif;
}
main {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.color1 {
    background-color: #477998;
}
.color2 {
    color: white;
    background-color: #1d201f;
}

.color3 {
    background-color: #ffe74c;
}
.color4 {
    background-color: #c3dfe0;
}
.color5 {
    background-color: white;
}

header {
    text-align: center;
    color: white;
    background-color: #477998;
}