@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Gabarito&display=swap');

body {
    display: grid;
    font-size: 16pt;
    color: black;
    font-family: 'Gabarito', Georgia, Times, serif;
} 

h1, h2, h3 {
    font-family: 'Alegreya SC', sans-serif;
}

header {
    text-align: center;
    color: white;
    background-color: #477998;
}