@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Gabarito&display=swap');

body {
    font-family: 'Garamond', 'Alegreya SC', 'sans-serif';
    font-size: 22px;
    background-color: #c3dfe0;
    padding: 0;
    max-width: 1024px;
    margin: 0 auto;
    color: #1d201f;
}
/* LIGHT MODE */

.light-mode {
    background: #c3dfe0;
    color: #1d201f;
    border-color: #1d201f;
}

/* END LIGHT MODE */

/* DARK MODE */

.dark-mode {
    background: #1d201f;
    color: #fff;
    border-color: #c3dfe0;
}

main.light-mode *, main.dark-mode * {
    border-color: inherit;
}

/* END DARK MODE */
  
header {
    display: flex;
    background-color: #477998;
    color: #fff;
    align-items: center;
    position: relative;
}

header h1 {
    width: 100%;
    text-align: center;
}

header img{
    height: 150px;
}

header div {
    position: absolute;
    top: 0;
    right: 0;
}

nav {
    background-color: #1d201f;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

#nav-menu {
    display: flex;
}

#nav-menu li {
    list-style: none;
}

#nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#nav-menu li a:hover {
    background-color: #c3dfe0; 
    color: #477998;
}

/* HAMBURGER MENU */


.menu-hide, .menu-show{
    display: none;
    color: white;
    background-color: #1d201f;
    border: 1px solid #1d201f;
    margin: .5rem 0 0 .5rem;
}

.menu-hide.showing, .menu-show.showing{
    display: block;
}

#nav-menu {
    display: none;
}

#nav-menu a {
    padding: 10px;
}

#nav-menu.showing {
    display: flex;
    
}

/* END HAMBURGER MENU */

#hero {
    text-align: center;
    position: relative;
    overflow: hidden;
    max-height: 400px;
}

#hero img {
    width: 100%;
}

#hero button {
    background-color: #c3dfe0;
    color: #1d201f;
    font-size: 1.5rem;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: .5rem;
    border-radius: 8px;
}

#hero button:hover {
    background-color: #ffe74c;
}


.current-events{
    border-top: 2px solid #1d201f;
    border-bottom: 2px solid #1d201f;
    margin: 0px;
    padding: 1rem;
    text-align: center;
}

.event-card{
    border: 2px solid #1d201f;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.weather{
    border-top: 2px solid #1d201f;
    border-bottom: 2px solid #1d201f;
    margin: 0px;
    padding: 1rem;
    text-align: center;   
}

.weather-card{
    border: 2px solid #1d201f;
    padding: 1rem;
    margin: 1rem;
}

.ads{
    border: 2px solid #1d201f;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    min-width: 250px;
}

.ads-card {
    padding: 1rem;
    margin: 1rem;
}

footer {
    background-color: #1d201f;
    color: #fff;
    text-align: center;
}
  
/* discover page */

#discover-main{
    display: block;
}

#discover-images{
    text-align: center;
}

#discover-images img:hover {
    opacity: .8;
    transform: scale(1.01);
}

#welcome, #demographics, #special {
    border-radius: 20px;
    border: 1px solid #1d201f;    
    padding: 1rem;
    margin: 1rem 0;
}