@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Albert+Sans:wght@100;300&display=swap');

body {
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1a759f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 50px 0px 30px 0px;
    font-family: 'Aboreto', cursive;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff5733;
}

nav a:hover {
    background-color: #ff704d;
}

.menu-hide, .menu-show {
    display: none;
    background-color: #ff704d;
    color: white;
    border: 1px solid white;
    margin: .5rem 0 0 .5rem;
    cursor: pointer;
}

.menu-hide.showing, .menu-show.showing {
    display: block;
}

#nav-menu {
    display: none;
    flex-direction: column;
}

#nav-menu.showing {
    display: flex;
}

#weather-alert {
    background-color: #ff704d;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#weather-alert button {
    background-color: #fff;
    color: #ff704d;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 20px;
}

.hero {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.hero-btn:hover {
    background-color: #ff704d;
}

#rental-options {
    padding: 20px;
    background-color: #d9ed92;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rental-options h2 {
    margin-bottom: 20px;
    color: #ff5733;
    font-family: 'Aboreto', cursive;
    text-align: center;
}

.rental-card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 280px;
    text-align: center;
    flex: 1 1 30%;
}

.rental-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.rental-card h3 {
    color: #1a759f;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px;
}

#about, #weather-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

#about {
    background-color: #76c893;
}

#weather-info {
    background-color: #d9ed92;
}

section h2 {
    color: #ff5733;
    font-family: 'Aboreto', cursive;
    margin-bottom: 10px;
}

section p {
    font-size: 1em;
    line-height: 1.5;
}

footer {
    background-color: #1a759f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
}

footer p, footer a {
    margin: 0;
    font-size: 0.9em;
}

footer a {
    color: #ff704d;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.social-media a:hover {
    text-decoration: underline;
}

/* RENTALS PAGE */
h2 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1a759f;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* RESERVATIONS PAGE */
#rental-services {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rental-services h2 {
    color: #ff5733;
    font-family: 'Aboreto', cursive;
    margin-bottom: 20px;
    text-align: center;
}

#rental-services ul {
    list-style-type: disc;
    margin: 0;

}

#rental-services li {
    margin-bottom: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.form-grid label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    font-weight: bold;
    color: #1a759f;
}

.form-grid input, .form-grid select, .form-grid textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-grid button {
    grid-column: span 2;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.form-grid button:hover {
    background-color: #e04b24;
}

/* Contact Page */
#contact-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

#contact-info h2 {
    color: #ff5733;
    font-family: 'Aboreto', cursive;
    margin-bottom: 20px;
}

#map {
    margin: 20px auto;
    max-width: 800px;
}

.map-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#google-map-1, #google-map-2 {
    width: 100%;
    height: 450px;
    border: 0;
}

