@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Albert+Sans:wght@100;300&family=Kalam&display=swap');

main {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

/* nav a {
    text-decoration: none;
    color: white;
} */

/* nav ul {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    background-color: #444;
    justify-content: center;
    padding: 0px;
} */

/* When I comment this out it looks different, why? Brother Brigg's code doesn't have any of this and
I think some of it is repetitive. It also kinda breaks the hamburger menu*/

nav {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #444;
    justify-content: center;
    width: 900px;
    height: 60px    ;
}

/* This is Brother Brigg's code BELOW and my old stuff ABOVE */

nav ul {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
}

nav ul li{
    list-style-type: none;
    display: block;
    width: 100%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    background-color: #444;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

nav ul li a:hover{
    color: black;
    background-color: lightgray;    
}

.active{
    background-color: lightgray;    
}

/* HAMBURGER MENU */


.menu-hide, .menu-show{
    display: none;
    background-color: lightpink;
    border: 1px solid #444;
    margin: .5rem 0 0 .5rem;
}

.menu-hide.showing, .menu-show.showing{
    display: block;
}

#nav-menu {
    display: none;
}

#nav-menu.showing {
    display: flex;
}

/* END HAMBURGER MENU */

.me {
    width: 200px;
}

.card-headers {
    background-color: lightpink;
    margin: 0;
    padding: 10px;
}

body {
    display: grid;
    font-size: 16pt;
    color: black;
    font-family: 'Aboreto', 'Kalam', Georgia, Times, 'Times New Roman', serif;
} 

.hero {
    text-align: center;
    position: relative;
    grid-column: 1/3;
    width: 100%;
    margin: 10px auto;
}

.hero img {
    border: 2px black solid;
    max-width: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: white;
    color: black;
    padding: .5rem;
    border: 1px black solid;
    border-radius: 4px;
}


.card {
    margin: 10px;
    text-align: center;
    border: 3px solid lightpink;
    margin: 10px;
    border-radius: 10px;
    grid-column: 1/3;
}

h2 {
    text-align: center;
    grid-column: 1/3;
}

ul {
    list-style-type: none; 
}

.lessons li {
    text-align: left;
}

iframe {
    grid-column: 1/3;
    width: 100%;
    justify-content: center;
}

header, footer {
    background-color: lightpink;
    margin: 0 auto;
}

header {
    text-shadow: 0 0 30px #444;
    font-size: 2.5rem;
    border-radius: 10px 10px 0 0;
}

footer {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

h1 {
    color: black;
    text-align: center;
}

h1::after {
    content: '🖤';
  }

header img {
    box-shadow: 0 0 30px #444;
    float: left;
    border-radius: 10px;
    margin: 10px;
}

#modification {
    color: black;
}