@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Albert+Sans:wght@100;300&family=Kalam&display=swap');

main {
    margin: 0 auto;
    width: 700px;
}

nav {
    margin: 0 auto;
    width: 700px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    background-color: #444;
}

nav a {
    text-decoration: none;
    color: white;
}

.me {
    width: 200px;
}

.card-headers {
    background-color: hotpink;
    margin: 0;
    padding: 10px;
}

body {
    display: grid;
    font-size: 16pt;
    color: black;
    font-family: 'Aboreto', 'Kalam', Georgia, Times, 'Times New Roman', serif;
    grid-template: 1fr 1fr 1fr 1fr;
} 
.card {
    margin: 10px;
    text-align: center;
    border: 3px solid hotpink;
    margin: 10px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none; 
}

.lessons li {
    text-align: left;
}

header, footer {
    background-color: hotpink;
    width: 700px;
    margin: 0 auto;
}

header {
    text-shadow: 0 0 30px #444;
    font-size: 2.5rem;
    border-radius: 10px 10px 0 0;
}

footer {
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: white;
    text-align: center;
}

header img {
    box-shadow: 0 0 30px #444;
    float: left;
    border-radius: 10px;
    margin: 10px;
}

#modification {
    color: yellow;
}